<div style="display:table-cell; height:0px; width:auto;background:transparent;border-style:solid; border-width:2px; border-color:green;margin:0px; padding:0px">

    <textAnimation [objects]="[
    {src: 'app/textAnimation/media/Koala.jpg'},
    {src: 'app/textAnimation/media/Jellyfish.jpg'},
    {src: 'app/textAnimation/media/Lighthouse.jpg'},
        {src: 'app/textAnimation/media/Desert.jpg'}

    
    ]" [isVisible]="isVisible">
    </textAnimation>


</div>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<button (click)="isVisible = !isVisible; clicked()">Toggle</button>

    <!--{src: 'app/textAnimation/media/Lighthouse.jpg'}-->